<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>v-model</title>
	<script src="../assets/js/vue.js"></script>
</head>
<body>
	<h1>v-model</h1>
	<hr>
	<div id="app">
		<p>
			原始文本信息:{{msg}}
		</p>
		<h3>文本框</h3>
		<p>
			v-model: <input type="text" v-model="msg" name="">
		</p>
		<p>
			v-model.lazy: <input type="text" v-model.lazy="msg" name="">
			<!-- model 修饰符 lazy 当鼠标离开表单时,即失去焦点时触发 -->
		</p>
		<p>
			v-model.number: <input type="text" v-model.number="msg" name="">
			<!-- model 修饰符 number 文本框输入的必须为数字 -->
		</p>
		<p>
			v-model.trim: <input type="text" v-model.trim="msg" name="">
			<!-- model 修饰符 trim 去空格 -->
		</p>
		<hr>
		<h3>文本域的双向数据绑定</h3>
		<textarea v-model="msg"></textarea>
		<hr>
		<h3>多选框绑定一个值</h3>
		<input type="checkbox" id="isTrue" v-model="isTrue" name="">
		<label for="isTrue">{{isTrue}}</label>
		<hr>
		<h3>多选框绑定数组</h3>
		<p>
			<input type="checkbox" id="kevin" value="kevin" v-model="web_name" name="">
			<label for="isTrue">kevin</label>
			<input type="checkbox" id="king" value="king" v-model="web_name" name="">
			<label for="isTrue">king</label>
			<input type="checkbox" id="hyyqc" value="hyyqc"  v-model="web_name" name="">
			<label for="isTrue">hyyqc</label>
		</p>
		<p>{{web_name}}</p>
		<hr>
		<h3>单选框绑定</h3>
		<p>
			<input type="radio" id="one" value="男" v-model="sex" name="">
			<label for="one">男</label>
			<input type="radio" id="two" value="女" v-model="sex" name="">
			<label for="two">女</label>
			<p>你选择的性别是:{{sex}}</p>
		</p>
	</div>
	<script>
		let app = new Vue({
			el : '#app',
			data : {
				msg : 'hello world',
				isTrue : true,
				web_name : [],
				sex : '男'
			}
		})
	</script>
</body>
</html>